{% extends "base.html" %}
{% block 'content' %}
{% load static %}

{% block 'title' %}service_detail{% endblock 'title' %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('{% static 'assets/img/page-header.jpg' %}');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Service Details</h2>
              <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Service Details</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Service Details Section ======= -->
    <section id="service-details" class="service-details">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="services-list">
              
              <a href="#" class="active">{{service.title}}</a>

            </div>


          </div>

          <div class="col-lg-8">
            <img src={{service.image.url}} alt="" class="img-fluid services-img">
            <h3>{{service.title}}</h3>
            <p>
              {{service.content1}}
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>{{service.item1}}</span></li>
              <li><i class="bi bi-check-circle"></i> <span>{{service.item2}}</span></li>
              <li><i class="bi bi-check-circle"></i> <span>{{service.item3}}</span></li>
            </ul>
            <p>
             {{service.content2}}
            </p>
            <p>
              {{service.content3}}
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Service Details Section -->

  </main><!-- End #main -->

{% endblock 'content' %}