{% extends "base.html" %}
{% block 'content' %}
{% load static %}

{% block 'title' %}pricing{% endblock 'title' %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('{% static 'assets/img/page-header.jpg' %}');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>قیمت ها</h2>
              
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="{% url 'root:home' %}">Home</a></li>
            <li>Pricing</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item">
              <h3>پلن رایگان</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> بارنامه</li>
                <li><i class="bi bi-check"></i> بارگیری</li>
                <li class="na"><i class="bi bi-x"></i> <span>بیمه حوادث</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>تخلیه بار</span></li>
              </ul>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="pricing-item featured">
              <h3>پلن تجاری
                
              </h3>
              <h4><sup>$</sup>29<span> / ماهانه</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> بارنامه</li>
                <li><i class="bi bi-check"></i>بارگیری</li>
                
                <li><i class="bi bi-check"></i> بیمه حوادث</li>
                <li><i class="bi bi-check"></i>تخلیه بار</li>
              </ul>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="pricing-item">
              <h3>پلن بازرگانی</h3>
              <h4><sup>$</sup>49<span> / ماهانه</span></h4>
              <ul>
                <li><i class="bi bi-check"></i>بارنامه</li>
                <li><i class="bi bi-check"></i> بارگیری</li>
                <li><i class="bi bi-check"></i>بیمه کالا</li>
                <li><i class="bi bi-check"></i> بیمه حوادث</li>
                <li><i class="bi bi-check"></i> تخلیه بار</li>
              </ul>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>
    </section><!-- End Pricing Section -->



  </main><!-- End #main -->

{% endblock 'content' %}